<div class="min-h-screen">
  <div class="row">
    <div class="col-md-12"><app-menu></app-menu></div>
  </div>
  <main class="flex bg-teal-600">
    <section class="col-md-2"><app-menu-vertical></app-menu-vertical></section>
    <section class="col-md-10" >
      <div class="justify-end ml-1 mr-1 mb-2 mt-2.5">
        <form class="flex gap-1 mt-1">
          <input class="form-control flex justify-end " type="search" placeholder="Search..." aria-label="Search" size="50">
        </form>
      </div>
      <div class="table-responsive ml-1 mr-1">
        <table class="table table-striped shadow w-screen table-auto">
          <thead>
              <tr>
                <th class="px-1 py-1 text-center text-xs font-medium text-black tracking-wider" scope="col">#</th>
                <th class="w-1 px-1 py-1 text-center text-xs font-medium text-black tracking-wider" scope="col">Date</th>
                <th class="w-1 px-1 py-1 text-center text-xs font-medium text-black tracking-wider" scope="col">N°</th>
                <th class="px-1 py-1 text-center text-xs font-medium text-black tracking-wider" scope="col">Expéditeurs</th>
                <th class="px-1 py-1 text-center text-xs font-medium text-black tracking-wider" scope="col">E-mail</th>
                <th class="px-1 py-1 text-center text-xs font-medium text-black tracking-wider" scope="col">Objet</th>
                <th class="px-1 py-1 text-center text-xs font-medium text-black tracking-wider" scope="col">Note</th>
                <th class="px-1 py-1 text-center text-xs font-medium text-black tracking-wider" scope="col">Statut</th>
                <th class="px-1 py-1 text-center text-xs font-medium text-black tracking-wider" scope="col">Emplacement</th>
                <th class="px-1 py-1 text-center text-xs font-medium text-black tracking-wider" scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let courrier of courriers; let i = index">
                <td class="whitespace-nowrap border px-1 py-1 font-semibold" scope="row">{{ i + 1 }}</td>
                <td class="whitespace-nowrap border px-1 py-1 text-xs font-normal text-black tracking-wider">{{ courrier.dateCourrier | date:'dd/MM/yyyy' }}</td>
                <td class="whitespace-nowrap border px-1 py-1 text-xs font-normal text-black tracking-wider" >{{ courrier.codeCourrier }}</td>
                <td class="whitespace-nowrap border px-1 py-1 text-xs font-medium text-black tracking-wider">{{ courrier.expediteur }}</td>
                <td class="whitespace-nowrap border px-1 py-1 text-xs font-normal text-black tracking-wider">{{ courrier.mailCourrier }}</td>
                <td class="whitespace-nowrap border px-1 py-1 text-xs font-normal text-black tracking-wider">{{ courrier.obejt }}</td>
                <td class="whitespace-nowrap border px-1 py-1 text-xs font-normal text-black tracking-wider">{{ courrier.note }}</td>
                <td class="whitespace-nowrap border px-1 py-1 text-xs font-normal text-black tracking-wider">{{ courrier.statut }}</td>
                <td class="whitespace-nowrap border px-1 py-1 text-xs font-normal text-black tracking-wider">RAS</td>
                <td class="flex gap-2">
                  <button mat-raised-button (click)="openModifyCourrierPopup(courrier)"><i class="bi bi-eye fw-bold text-orange-500"></i></button>
                  <button (click)="openPopupImputationCourrier()"><i class="bi bi-pencil-square fw-bold text-green-500"></i></button>
                  <button><i class="bi bi-trash3 fw-bold text-red-500"></i></button>
                </td>
              </tr>           
            </tbody>
        </table>    
      </div>
    </section>
  </main>
       <!-- Pied de page -->
  <div class="row">
    <div class="col-md-12"><app-footer-page></app-footer-page></div>
  </div>
</div>
