<div class="grid grid-rows-[auto,1fr,auto] min-h-screen">
 <div class="row">
    <div class="col-md-12"><app-menu></app-menu></div>
 </div>
  <main class="flex-grow grid place-content-center bg-teal-600">
      <!-- Votre contenu principal ici -->
       <!-- Contenu de page --> 
    <div class="grid place-items-center" >
      <div class="card shadow" style="width: 25em;">
          <div class="bg-orange-500 items-center text-xl font-semibold text-white rounded" ><i class="bi bi-person-lock"></i> Authentifiez-vous !</div>
          <div class="card-body">
              <form>
                  <div class="mb-3">
                      <label for="" class="form-label">Non utilisateur</label>
                      <input type="text" class="form-control" placeholder="...">
                  </div>
                  <div class="mb-3">
                      <label for="" class="form-label">Mot de passe</label>
                      <input type="password" class="form-control">
                  </div>
                  <button class="btn text-white" type="submit" (click)="goToPageHome()" style="background-color:rgb(86, 220, 86);">Connectez-vous ! <i class="bi bi-check-circle text-white"></i></button>
              </form>
          </div>
      </div>
    </div>
  </main>
       <!-- Pied de page -->
  <div class="row">
    <div class="col-md-12"><app-footer-page></app-footer-page></div>
  </div>

</div>
