<div class="modal-content">
    <div class="modal-header mb-3" style="background-color: rgb(245, 161, 5); color: white;">
      <h6 class="modal-title">Nouveau courrier...<i class="bi bi-pen-fill"></i></h6>
      <button type="button" class="btn-close btn-close-red" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()"></button>
    </div>
    <div class="modal-body">
      <form class="w-100">
        <!-- Vos champs de formulaire -->
        <div class="mb-2">
          <label for="exampleFormControlInput1" class="form-label fw-bold">Expéditeur</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="........">
        </div>
        <div class=" double-input mb-2" style="display: flex; align-items:center;  ">
          <div class="form-group" style="margin-right: 20px;">
            <label for="exampleFormControlInput1" class="form-label fw-bold">E-mail</label>
            <input type="mail" class="form-control" id="exampleFormControlInput1" placeholder="xxxxx@gmail....">
          </div>
          <div class="form-group" style="margin-right: 20px;">
            <label for="exampleFormControlInput1" class="form-label fw-bold">Adresse</label>
            <input type="mail" class="form-control" id="exampleFormControlInput1" placeholder="exe: BP 01 xxxx 01....">
          </div>
          <div class="form-group" style="margin-right: 20px;">
            <label for="exampleFormControlInput1" class="form-label fw-bold">Contact</label>
            <input type="phone" class="form-control" id="exampleFormControlInput1" placeholder="00 00 00 00 00....">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1" class="form-label fw-bold">Sélectionnez une date</label>
            <input type="date" class="form-control" id="exampleFormControlInput1">
          </div>    
        </div>
        <div class="mb-2">
            <label for="exampleFormControlInput1" class="form-label fw-bold">N° du courrier</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="n°......">
        </div>
        <div class="mb-2">
            <label for="exampleFormControlInput1" class="form-label fw-bold">Objet</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="En ête du courrier...">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label fw-bold">Description</label>
            <textarea class="form-control" id="exampleFormControlInput1" placeholder="Contenu du courrier..."></textarea>
        </div>
        <div class="mb-3">
            <input type="file" class="form-control form-control-file" id="exampleFormControlFile1">
        </div>
        <!-- Ajoutez d'autres champs de formulaire ici -->
      </form>
    </div>
    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button> -->
      <button type="button" class="btn" style="background-color: rgb(86, 220, 86); color: white; margin-right: 10px;" (click)="ImputationFan()">Imputer <i class="bi bi-check2-circle"></i></button>
      <button type="button" class="btn" style="background-color: rgb(86, 220, 86); color: white;">Enregistrer <i class="bi bi-floppy"></i></button>
    </div>
  </div>