/* your-dialog.component.css */
:host {
    display: block;
    width: 950px; /* Ajustez la largeur selon vos besoins */
    height: 500px; /* Ajustez la hauteur selon vos besoins */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:teal; /* Ajoutez un fond pour le dialog */
    /* border-radius: 8px;  Ajoutez des styles supplémentaires si nécessaire */
  }