<div class="cmodal-content">
  <div class="modal-header mb-3" style="background-color: rgb(245, 161, 5); color: white;">
    <h6 class="modal-title">Imputation des courriers <i class="bi bi-envelope-check"></i></h6>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancelFanImp()"></button>
  </div>
 <div class="modal-body mb-5">
  <form>
    <div class="mb-3" style="display: flex;">
      <div class="form-group" style="margin-right: 70px;">
        <label for="exampleInputEmail1" class="form-label fw-bold">Courrier n°</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleDate" class="form-label fw-bold">Date du courrier</label>
        <input type="date" class="form-control" id="exampleDate">
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label fw-bold">Expéditeur</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <br>
    </div>
    <div class="mb-3">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <input type="checkbox" class="form-check-input" id="exampleCheck2" style="margin-left: 5px;">
      <label class="form-check-label fw-bold" for="exampleCheck1" style="margin-left: 5px;">Service A</label>
      <input type="checkbox" class="form-check-input" id="exampleCheck3" style="margin-left: 10px;">
      <input type="checkbox" class="form-check-input" id="exampleCheck4" style="margin-left: 5px;">
      <label class="form-check-label fw-bold" for="exampleCheck1" style="margin-left: 5px;">Service B</label>
      <input type="checkbox" class="form-check-input" id="exampleCheck3" style="margin-left: 10px;">
      <input type="checkbox" class="form-check-input" id="exampleCheck4" style="margin-left: 5px;">
      <label class="form-check-label fw-bold" for="exampleCheck1" style="margin-left: 5px;">Service C</label>
      <input type="checkbox" class="form-check-input" id="exampleCheck3" style="margin-left: 10px;">
      <input type="checkbox" class="form-check-input" id="exampleCheck4" style="margin-left: 5px;">
      <label class="form-check-label fw-bold" for="exampleCheck1" style="margin-left: 5px;">Service D</label>
      <input type="checkbox" class="form-check-input" id="exampleCheck3" style="margin-left: 10px;">
      <input type="checkbox" class="form-check-input" id="exampleCheck4" style="margin-left: 5px;">
      <label class="form-check-label fw-bold" for="exampleCheck1" style="margin-left: 5px;">Service E</label>
    </div>
    <div class="mb-3">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <input type="checkbox" class="form-check-input" id="exampleCheck2" style="margin-left: 5px;">
      <label class="form-check-label fw-bold" for="exampleCheck1" style="margin-left: 5px;">Service F</label>
      <input type="checkbox" class="form-check-input" id="exampleCheck3" style="margin-left: 10px;">
      <input type="checkbox" class="form-check-input" id="exampleCheck4" style="margin-left: 5px;">
      <label class="form-check-label fw-bold" for="exampleCheck1" style="margin-left: 5px;">Service G</label>
      <input type="checkbox" class="form-check-input" id="exampleCheck3" style="margin-left: 10px;">
      <input type="checkbox" class="form-check-input" id="exampleCheck4" style="margin-left: 5px;">
      <label class="form-check-label fw-bold" for="exampleCheck1" style="margin-left: 5px;">Service H</label>
      <input type="checkbox" class="form-check-input" id="exampleCheck3" style="margin-left: 10px;">
      <input type="checkbox" class="form-check-input" id="exampleCheck4" style="margin-left: 5px;">
      <label class="form-check-label fw-bold" for="exampleCheck1" style="margin-left: 5px;">Service I</label>
      <input type="checkbox" class="form-check-input" id="exampleCheck3" style="margin-left: 10px;">
      <input type="checkbox" class="form-check-input" id="exampleCheck4" style="margin-left: 5px;">
      <label class="form-check-label fw-bold" for="exampleCheck1" style="margin-left: 5px;">Service J</label>
    </div>
    <div class="mb-5">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <input type="checkbox" class="form-check-input" id="exampleCheck2" style="margin-left: 5px;">
      <label class="form-check-label fw-bold" for="exampleCheck1" style="margin-left: 5px;">Service K</label>
      <input type="checkbox" class="form-check-input" id="exampleCheck3" style="margin-left: 10px;">
      <input type="checkbox" class="form-check-input" id="exampleCheck4" style="margin-left: 5px;">
      <label class="form-check-label fw-bold" for="exampleCheck1" style="margin-left: 5px;">Service L</label>
      <input type="checkbox" class="form-check-input" id="exampleCheck3" style="margin-left: 10px;">
      <input type="checkbox" class="form-check-input" id="exampleCheck4" style="margin-left: 5px;">
      <label class="form-check-label fw-bold" for="exampleCheck1" style="margin-left: 5px;">Service M</label>
      <input type="checkbox" class="form-check-input" id="exampleCheck3" style="margin-left: 10px;">
      <input type="checkbox" class="form-check-input" id="exampleCheck4" style="margin-left: 5px;">
      <label class="form-check-label fw-bold" for="exampleCheck1" style="margin-left: 5px;">Service N</label>
      <input type="checkbox" class="form-check-input" id="exampleCheck3" style="margin-left: 10px;">
      <input type="checkbox" class="form-check-input" id="exampleCheck4" style="margin-left: 5px;">
      <label class="form-check-label fw-bold" for="exampleCheck1" style="margin-left: 5px;">Service O</label>
    </div>
  </form>
 </div>
 <div class="modal-footer">
  <div class="mb-3"> <button type="submit" class="btn float-end" style="background-color: rgb(86, 220, 86); color: white;">Valider <i class="bi bi-check-circle"></i></button></div>
</div>
</div>