<div class="min-h-screen">
<div class="row">
  <div class="col-md-12">  <app-menu></app-menu></div>
</div>
  <main class="flex bg-teal-600">
      <!-- Votre contenu principal ici -->
      <!-- <div class="flex border bg-black"> -->
        <section class="col-md-2"><app-menu-vertical></app-menu-vertical></section>
        <section class="col-md-10">
          <!-- <div *ngIf="displayComponentNouveauCourrier">
            <app-saisi-courrier></app-saisi-courrier>     
          </div>
          
          <div *ngIf="displayComponentListeCourriers">
            <app-courriers-recus></app-courriers-recus> 
          </div>
      
          <div *ngIf="displayComponentCourriersImputes">
              <app-courriers-imputes></app-courriers-imputes>
          </div>
             -->
        </section>
      <!-- </div> -->
  </main>

       <!-- Pied de page -->
  <div class="row">
    <div class="col-md-12"><app-footer-page></app-footer-page></div>
  </div>

</div>
